.App {
  text-align: center;
}


body{
  background-image: url(https://images.unsplash.com/photo-1550684656-77baedef4775?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
}

div.greenbar{
background-color: #008D06;
color: #008D06;
width: 100vw;
}
.greenbar h1{
  color: #008D06;
}

.sign-in h2{
  border: 1px black solid;
  width: 38%;
  margin: 5% auto;
  color: #008D06;
  background-color: white;
  border-radius: 20px;
}

form{
  background-color: #1B1B1B;
  display: flex;
  flex-direction: column;
  width: 40%;
 
  margin: auto;
  color: white;
  padding-top: 2%;
  border: 1px black solid;
}

input{
  width: 60%;
  margin: 5% auto;
  border: black 1px solid;
  text-align: center;
}

.btn-container{
  display: flex;
  justify-content: space-around;
  margin: 10% 0 5% 0;
}

form button{
  border-radius: 20px;
}

.jams {
  display: flex;
  flex-direction: column;
  margin: 2px auto;
  width: 20%;
  border: 1px solid black

}

.SongsButton {
  display: flex;
flex-wrap: wrap;}

/* .button1 {
  margin-bottom: 0;
} */
p{
  background-color: red;
  width: fit-content;
  margin:2% auto;
  padding: 1%;
  border: 1px white solid;
  color: white;
}

.is-displayed{
  display: none;
}


